.flex {
  display: flex;
}

.container {
  width: 500px;
  margin-top: 50px;
  margin-left: 50px;
}

.data-box {
  width: 100%;
  height: 50px;
  border: 1px solid #000;
  align-items: center;
}

.data-id {
  width: 40px;
}

.data-title {
  width: 200px;
}

.data-content {
  width: 300px;
}

.data-date {
  width: 200px;
}
